<nav class = "navbar navbar-expand-lg navbar-dark bg-info text-white">
    <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarSupportedContent" aria-controls = "navbarSupportedContent" aria-expanded = "false" araia-label = "Toggle navigation">
        <span class = "navbar-toggler-icon"></span> 
    </button>
    <div class = "collapse navbar-collapse" id = "navbarSupportedContent">
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item">
                <a class="nav-link" routerLink = "display-grocery">CopyRights@Grocery.com</a>
            </li>
        </ul>
    </div>
</nav>